In [3]:
import pandas as pd
df = pd.read_csv('imdb_dataset')
# Display the first few rows of the dataframe
df.head(3)

,Unnamed: 0,Unnamed: 0.1,tconst,title,release_year,release_date,runtime,plot_short,plot_long,imdb_rating,num_imdb_votes,num_user_reviews,num_critic_reviews,genre
0,0,0,tt0010323,Das Cabinet des Dr. Caligari,1920,27 February 1920,67,"Hypnotist Dr. Caligari uses a somnambulist, Ce...","Francis, a young man, recalls in his memory th...",8.1,52815,222.0,156.0,"['fantasy', 'horror', 'mystery', 'thriller']"
1,1,1,tt0011237,"Der Golem, wie er in die Welt kam",1920,19 June 1921,91,"In 16th-century Prague, a rabbi creates the Go...","In 16th-century Prague, a rabbi creates the Go...",7.2,6136,49.0,45.0,"['fantasy', 'horror']"
2,2,2,tt0011841,Way Down East,1920,3 September 1920,145,A naive country girl is tricked into a sham ma...,"The callous rich, portrayed by Lennox, think o...",7.4,4800,49.0,28.0,"['drama', 'romance']"

In [7]:
total_list = []
for labels in df["genre"]:
    labels_list = eval(labels.strip("[]"))
    total_list.append(list(labels_list))
print(len(total_list), df.shape)

30042 (30042, 14)

In [8]:
df["genre"] = total_list

In [10]:
df = df.drop(['Unnamed: 0.1', 'Unnamed: 0', 'tconst'], axis = 1)
df.head(2)

,title,release_year,release_date,runtime,plot_short,plot_long,imdb_rating,num_imdb_votes,num_user_reviews,num_critic_reviews,genre
0,Das Cabinet des Dr. Caligari,1920,27 February 1920,67,"Hypnotist Dr. Caligari uses a somnambulist, Ce...","Francis, a young man, recalls in his memory th...",8.1,52815,222.0,156.0,"[fantasy, horror, mystery, thriller]"
1,"Der Golem, wie er in die Welt kam",1920,19 June 1921,91,"In 16th-century Prague, a rabbi creates the Go...","In 16th-century Prague, a rabbi creates the Go...",7.2,6136,49.0,45.0,"[fantasy, horror]"

In [11]:
multi_label_data = df['genre']
# Step 1: Flatten the list of lists
flattened_labels = [label for sublist in multi_label_data for label in sublist]
# Step 2: Convert the flattened list to a set to get unique labels
unique_labels = set(flattened_labels)
# Step 3: Count the number of unique labels
total_unique_labels = len(unique_labels)
print(f"Total number of unique labels: {total_unique_labels}")

Total number of unique labels: 44

In [15]:
import matplotlib.pyplot as plt
genre_counts = pd.Series(flattened_labels).value_counts()
# Step 3: Print the genre distribution
print("Genre Distribution:")
print(genre_counts)

Genre Distribution:
drama          14460
comedy          8984
thriller        7342
romance         6689
action          5390
a               5308
r               5044
crime           4903
m               4470
d               4404
horror          3461
o               3403
adventure       3331
mystery         2774
e               2537
sci-fi          2442
fantasy         2340
c               2303
y               2145
music           1866
family          1799
biography       1591
war             1490
history         1381
animation        963
t                919
musical          874
documentary      804
sport            794
n                788
h                752
western          585
u                540
i                383
l                354
film-noir        311
s                146
w                 94
f                 59
-                 35
p                  8
g                  8
v                  8
b                  8
dtype: int64

In [19]:
def avg_word_length(text):
    words = text.split()
    if len(words) == 0:
        return 0
    return sum(len(word) for word in words) / len(words)

# Apply the function to the column and calculate the average word length
average_lengths = df['plot_long'].apply(avg_word_length)
overall_average_length = average_lengths.mean()

print(f"Average length of words: {overall_average_length:.2f}")

Average length of words: 4.85